* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Risque', cursive;
    font-size: large;
}
.logo img {
    height: 2em;
}
nav {
    background-color: rgba(6, 14, 16, 0.8);
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
nav a{
    color:white;
    font-size: large;
    text-decoration: none;
}
nav .nav-btn a {
    margin-left: 20px;
}
body {
    background-color: #cecbcb;
}

.container {
    width: 90%;
    display: flex;
    text-align: center;
    justify-content:space-between;
    align-content: center;
    position: absolute;
    top: 15%;
    left: 5%;
}
.blog-img img{
    width: 100%;
}
.blog-text > h2 {
    text-decoration: underline;
}
.blog {
    width: 20%;
    border: 2px solid black;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 1.5em;
}







@media screen and (max-width: 700px){
    .container {
        flex-direction: column;
    }
    .blog {
        width: 75%;
        height: 50vh;
        padding-bottom: 5px;
    }
    
}
