* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#error {
    color: red;
}
.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(196, 189, 189);
}
.nav {
    background-color: rgba(6, 14, 16, 0.8);
     width: 20%;
     color: white;
     /* height: 100%; */
}
.page {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 100%;
    overflow: hidden;
    justify-content: space-evenly;
}

.form {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly
}
.nav-list {
    text-align: left;

}
.nav-list li {
    width: 100%;
    list-style: none;
    padding: 15px
}
.nav-list ul {
    width: 100%;
    padding-left: 0;
}
.nav-list a {
    color: rgb(161, 153, 153);
    text-decoration: none;
    width: 100%;
    padding: 5px;
    transition: 0.3s;
}
.nav-list a:hover{
    color: black;
    transform: translateX(10px);
}
.nav-list li{
    width: 100%;
    display: flex;
}
.nav-list li:hover{
    background-color: white;
    color: black;
}
.active {
    background-color: white;
    border: 1px solid black;
}
.top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: grey;
}
.user button{
    margin-right: 10px;
    background-color: #ebe98a;
    padding: 6px 9px;
    border-radius: 50%;
    border: 1px solid #ba6a45;
    height: 80%;
}
.subnav {
    display:flex ;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: grey;
}
.subnav img {
    width: 3em;
}
.menu, .close {
    display: none;
}
.form {
    display: flex;
    align-content: center;
    justify-content: center;
    /* margin: 0 auto; */
    /* width: 80%; */
}
form {
    border: 1px solid black;

}
form, .form h2 {
    align-self: center;
    padding: 1.5rem;
    width: 80%;
}
.form h2 {
    text-decoration: underline;
}
.form input{
    padding: 0.6rem 2rem;
    border-radius: 8px;
}
form button {
    padding: 6px 15px;
}
.blogs {
    max-width: 30%;
    height: 100%;

}
.blog {
    display: flex;
    height: 8em;
}
.blog > img {
    width: 50%;
}
.blogs-cont {
    display: flex;
    overflow: hidden;
}
.blog-list button {
    justify-self: center;
    align-self: center;
}

.blog-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blogs {
    width: 50%;
}
.blogs li{
    /* width: 80%; */
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 10px;
}
.blogs li img {
    height: 100%;
}
.blogs h3{
    text-decoration: underline;
}
.delete {
    padding: 3px 7px;
    color: white;
    background-color: rgb(150, 31, 31);
    cursor: pointer;
}
.edit {
    padding: 3px 7px;
    color: white;
    background-color: rgb(19, 59, 19);
    cursor: pointer;
}
#create-button {
    background-color: #337921;
}
#update-button {
    background-color: #ebe98a;
    display: none;
}

@media screen and (max-width: 767px){
    .page {
        flex-direction: column;
    }
    .blogs {
        min-width: 80%;
        margin: 5px auto;

    }
    .blog-list{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (max-width:600px){
    .nav {
        display: none;
        position: fixed;
        z-index: 2;
        height: 100%;
        width: 35%;
        transition: all 300ms ease;
    }
    .form {
        width: 100%;
    }
    .subnav img {
        display: none;
    }
    .fa-bars {
        display: block;
    }
    

}
@media screen and (max-width: 500px){
    .blog-list{
        flex-direction: column;
    }
}