*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(196, 189, 189);
}
.page {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    height: 100vh;
}

.nav {
    background-color: rgba(6, 14, 16, 0.8);
     width: 20%;
     color: white;
}
.nav-list {
    text-align: left;
}
.nav-list li {
    width: 100%;
    list-style: none;
    padding: 15px
}
.nav-list ul {
    width: 100%;
    padding-left: 0;
}
.nav-list a {
    color: rgb(161, 153, 153);
    text-decoration: none;
    width: 100%;
    padding: 5px;
    transition: 0.3s;
}
.nav-list a:hover{
    color: black;
    transform: translateX(10px);
}
.nav-list li{
    width: 100%;
    display: flex;
}
.nav-list li:hover{
    background-color: white;
    color: black;
}
.active {
    background-color: white;
    border: 1px solid black;
}
.top {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    width: 100%;
    background-color: grey;
}
.subnav {
    display:flex ;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: grey;
}
.subnav img {
    width: 3em;
}
.menu, .close {
    display: none;
}
.user button{
    margin-right: 10px;
    background-color: #ebe98a;
    padding: 6px 9px;
    border-radius: 50%;
    border: 1px solid #ba6a45;
    height: 80%;
}
.page button {
    padding: 1em;
    cursor: pointer;
}
#users-btn {
    background-color: #ebe98a;
}
#messages-btn {
    background-color: #ba6a45;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tbody:nth-child(even) {
    background-color: rgb(155, 153, 153);
  }
  .fa-trash-o{
      cursor: pointer;
  }




@media screen and (max-width:746px){
.page {
    flex-direction: column;
    max-width: 100%;
}
}


@media screen and (max-width:600px){
    .nav {
        display: none;
        position: fixed;
        z-index: 2;
        height: 100%;
        width: 35%;
        transition: all 300ms ease;
    }
    
    .subnav img {
        display: none;
    }
    .fa-bars {
        display: block;
    }
    

}