@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Risque', cursive;
    font-size: large;
    color: white;
}
img {
   width: 100%;
   height: 100vh;
   position: relative;
}

.logo img {
    height: 3em;
}
nav {
    background-color: rgba(6, 14, 16, 0.8);
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
nav a{
    color:white;
    font-size: large;
    text-decoration: none;
}
nav .nav-btn a {
    margin-left: 20px;
}
.log {
    width: 40%;
    position: absolute;
    background-color: rgba(6, 14, 16, 0.8);
    top: 30%;
    left: 35%;
    padding:2em;
    display: flex;
    flex-direction: column;
    
}
input {
    padding: 0.3em 1.5em;
    color: black;
}
button {
    align-self: center;
    padding:0.3em 1.8em;
    background-color: #2FA7B6;
    color: white;
    border-radius: 1.2em;
}
p {
    align-self: center;
    margin-top: 10px;
}
a {
    color: red;
}
footer{
    background-color:rgba(6, 14, 16, 0.8) ;
    text-align: center;
    color: white;
    font-size: large;
    padding: 1.2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 869px){
    .log {
        width: 65%;
        left: 20%;
    }
}
@media screen and (max-width: 610px){
    .log {
        width: 75%;
        left: 15%;
    }
}
@media screen and (max-width: 460px){
    .log {
        width: 75%;
        left: 15%;
        top: 15%;
    }
}