@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Risque', cursive;
}
.banner img{
    width: 100%;
    position: relative;
    margin-bottom: -4px;
}
body {
    background-color: #f6f6f9;
}
.intro {
    position: absolute;
    width: 40%;
    top:30%;
    right: 30%;
    padding: 20px;
    background-color: rgba(6, 14, 16, 0.8);
    text-align: center;
    color: white;
    display: flex;
}
.intro img {
    width:10em;
    border-radius: 50%;
}
.desc h1,.desc h2{
    margin-top: 1.8rem;
}
.logo img {
    height: 3em;
}
nav {
    background-color: rgba(6, 14, 16, 0.8);
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
nav a{
    color:white;
    font-size: large;
    text-decoration: none;
    padding: 8px;
}
.nav-btn a:hover {
    background-color: #555;
}
.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 35px;
}
.toggle-btn .bars {
    height: 3px;
    /* width: 100%; */
    background-color: white;
    border-radius: 10px;
}
nav .nav-btn a {
    margin-left: 1.2em;
}
.about-txt img {
    width: 50px;
    margin-bottom: 8px;
}

.about-img {
    margin-top: -2px;
    width: 100%;
    height: 100%;
}
.about-txt {
    margin-left: 5px;
    margin-bottom: 5px;
}
#about {
    display: flex;
}
#about > div {
    width: 50%;
}
.learn {
    font-size: 52px;
    color: gray;
    font-weight: 100;
} 
.about-txt h2,p{
    margin-top: -1px;
    margin-left: 15px;
    margin-bottom: 25px;
    
}
.vector {
    margin-top: 10px;
}
.container {
    width: 90%;
    background-color: #ddd;
}
.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
.html {
    width: 90%;
    background-color: #FF0000;
}
.css {
    width :70%;
    background-color: #5571D4;
}
.js {
    width: 65%;
    background-color: #E7DF29;
}
#design {
    display: flex;
    justify-content: center;
}
#design img {
    width: 50%;
    height: 100%;
    margin-top: 2em;

}
.design-txt h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.design-txt p {
    font-size: 1.2em;
}
.design-txt {
    align-self: center;
    margin-left: 1em;
    /* background-color: rgba(6, 14, 16, 0.8); */
}
.develop {
    display: flex;
    justify-content: center;
}
.develop img {
    width: 40%;
    /* overflow:hidden; */
    /* height: 350px; */

}
.develop-txt h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.develop-txt p {
    font-size: 1.2em;
}
.develop-txt {
    align-self: center;
    /* margin-left: 8px; */
}
#port{
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
    /* margin-top: -4px; */
}
#port h1 {
    font-size: 1.5em;
    /* margin-top: 0.7em; */
}
#port-cont {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
#port-cont a {
    color:rgb(184, 170, 170);
    text-decoration: none;
    transition:0.5s
}
#port-cont a:hover {
    transform: translate(-15px,-15px);
}
#port-cont p {
    margin-top: 0.2em;
}
#blogs {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 8px;
}
.blogs-cont {
    display: flex;
    justify-content: space-around;
}
.blogs-cont img {
    width: 35%;
    margin-bottom: 0;
}
.blog1 img {
    width: 40%;
}
.blogs-cont a {
    text-decoration: none;
    color: black;
    width: 50%;
    transition: 0.3s;
}
.blogs-cont a:hover {
    transform: translate(-10px,-10px);
}
.blogs-cont div:hover{
    background-color: rgba(6, 14, 16, 0.8);
    color: white;
}
.blog1,.blog2 {
    display: flex;
    margin: 10px;
    border: 1.5px solid black;
    text-align: left;
}
.blog1 h2, .blog2 h2 {
    color: rgb(160, 157, 157);
    margin: 13px 5px;
}
.more {
    display: flex;
    justify-content: center;
}
.more button {
    padding: 10px;
    background-color: rgb(58, 57, 57);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}
#contact {
    background-image: url('../images/banner.jpg');
    color: white;
    padding: 2rem;
    
}
#rev {
    display: block;
}
#contact {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.review,.info {
    background-color: rgba(6, 14, 16, 0.8);
    padding:1.5em ;
    display: flex;
    width: 40%;
    border-radius: 1em;
    flex-direction: column;
    justify-content: center;
}
#contact input,textarea {
    padding: 0.7em;
    border-radius: 1rem;
}
.review button{
    align-self: flex-end;
    margin-top: 0.625rem;
    padding: 0.5em 0.9375rem;
    border-radius: 0.5rem;
}
.info p {
    align-self: center;
    justify-self: center;
    font-size: 1.3em;
}
footer{
    background-image: url('../images/banner.jpg');
    text-align: center;
    color: white;
    font-size: large;
    padding: 1.2em;
}
.dark {
    background-color:rgba(6, 14, 16, 0.8) ;
    color:white;
}
@media screen and (max-width:860px){
    .about-img {
        height: 481px;
    }
}
@media screen and (max-width:796px){
    .intro {
        display: flex;
        flex-direction: column;
    }
    .intro img {
        align-self: center;
    }
    .desc h1,.desc h2{
        margin-top: 1rem;
    }
}
@media screen and (max-width:826px){
    .intro {
        top:13%;
        padding:5px
    }
}

@media screen and (max-width:700px){
    .review,.info{
        width:47%;

    }
    .blog1, .blog2 {
        flex-direction: column;
        width: 75%;
        margin: 5px auto;
    }
    .blogs-cont img {
        width: 100%;
    }
    .blog1 > div, .blog2 > div {
        height: fit-content;
    }
}
@media screen and (max-width:662px){
    .intro {
        position: static;
        width: 100%;
        margin-top: -4px;
        background-color: rgba(6, 14, 16, 0.9)
    }
    .about-img {
        margin-top: 0;
    }
    .toggle-btn {
        display: flex;
    }
    /* .fa {
        align-self: center;
    } */
    
    nav{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .nav-btn a {
        align-self: center;
    }
    .nav-btn {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-btn.active {
        display: flex;
    }
}
@media screen and (max-width:642px){
    #about {
        flex-direction: column;
    }
    #about > div {
        width: 100%;
    }
    #design {
        flex-direction: column-reverse;
    }
    #design img {
        width: 100%;
    }
    .develop {
        flex-direction: column;
    }
    .develop img {
        width: 100%;
    }
    #port-cont {
        flex-direction: column;
        width: 70%;
        margin: 15px auto;
    }
    .blogs-cont a {
        width: 100%;
    }

    .blogs-cont {
        flex-direction: column;
        width: 90%;
        margin: 15px auto;
    }
    
    #contact {
        flex-direction: column;
        justify-content: center;
    }
    .review , .info {
        width: 95%;
        align-self: center;

    }
    .info {
        margin-top: 5px;
    }
}